<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="margin-10" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true"><mat-card *ngFor="let card of page.response">
      <mat-card-title>{{card.ship_name}}</mat-card-title>

      <mat-card-subtitle>{{card.ship_id}}</mat-card-subtitle>

      <img mat-card-image class="image-container" [src]="card.image">

      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-chip-list [selectable]="true" [multiple]="true">

            <mat-chip *ngFor="let chip of card.roles">
              {{chip}}
            </mat-chip>
          </mat-chip-list>
        </div>
      </mat-card-content>

      <mat-card-actions></mat-card-actions>
    </mat-card></div>
</div>