<div fxLayout="row wrap" class="color-white bg-blue" fxLayoutGap="50px" fxLayoutAlign="end stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="&apos;https://cdn-icons-png.flaticon.com/512/3048/3048127.png&apos;" class="header-icon width-50"></div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <h1>
      <a href="/profile" style="color:white;">{{page.profileName}}</a>
    </h1>
  </div>
  <div fxLayout="column wrap" class="pointer" fxLayoutAlign="start stretch" [fxShow]="true" (click)="logout()">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="header-icon">logout</mat-icon>
      <h1>
        <a href="/login" style="color: white;">Logout</a>
      </h1>
    </div>
  </div>
</div>
<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let employee of page.services.cardsData"><mat-card>
    <mat-card-title>{{employee.name}}</mat-card-title>

    <mat-card-subtitle>{{employee.description}}</mat-card-subtitle>
  </mat-card></div>