<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <form [formGroup]="page.registrationform" (ngSubmit)="formSubmit()">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div>
      </div>
      <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput placeholder="Input" [required]="false" formControlName="firstName">

      </mat-form-field>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div>
      </div>
      <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput placeholder="Input" [required]="true" formControlName="lastName">
        <mat-error align="start" *ngIf="page.registrationform.controls[&apos;lastName&apos;].invalid">last name is invalid</mat-error> <mat-hint align="end" *ngIf="page.registrationform.controls[&apos;lastName&apos;]">alphaNumeric is accepted</mat-hint>
      </mat-form-field>
    </div><button mat-raised-button [disabled]="page.registrationform.invalid" type="submit">submit</button>
  </form>
</div>